<%- include('partials/header') %>

    <h1>Post</h1>

    <%postsList.forEach(function(post){%>
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
    <%})%>

<%- include('partials/footer') %>